:root {
  // Primary colors
  --color-green: #00ff9d;
  --color-pink: #ff00ff;
  --color-purple: #9d00ff;
  --color-yellow: #ffff00;
  --color-grey: #808080;
  --color-night: #000033;
  --color-dark-purple: #4a0080;

  // Additional variations
  --color-light-green: #80ffce;
  --color-light-pink: #ff80ff;
  --color-light-purple: #ce80ff;
  --color-light-yellow: #ffff80;
  --color-light-grey: #d3d3d3;
  
  --color-dark-green: #00804e;
  --color-dark-pink: #800080;
  --color-dark-yellow: #808000;
  --color-dark-grey: #404040;
}
